* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    padding: 50px;
    background-color: #E5E5E5;
}
.app {
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: wrap;
}



.data-comp {
    background-color: #313131;
    border-radius: 20px;
    min-height: 283px;
    width: 679px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 97px;
}
.data-comp.active {
    pointer-events: none;
}
.colorpicker-comp {
    background-color: #313131;
    border-radius: 20px;
    height: 645px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 97px;
}
.data-comp__nav {
    padding-top: 20px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.colorpicker-comp__nav {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding-top: 20px;
    margin-bottom: 32px;
}
.data-comp__title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 161px;
}
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #313131;
    background-color: #424242;
}
tr:nth-child(1)  {
    width: 90px;
    font-size: 18px;
    font-weight: 600;
    color:#fff;
    
}
tr > * {
    height: 54px;
}
.data-comp__add-button {
    position: absolute;
    bottom: 32px; 
}
.colorpicker-comp__add-button {
    position: absolute;
    bottom: 14px;
}
.add-button {
    width: 220px;
    height: 35px;
    color: #fff;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 700;  
    background: #313131;
    border: 1px solid #53CBF1;
    border-radius: 100px;
    cursor: pointer;
}
.add-button.add-button_colorpicker {
    bottom: 14px;
}    
.add-button:hover {
    background: #53CBF1;
    transition: all ease 0.3s;
}
td {
    color: #BFBFBF;
    font-size: 11px;
    line-height: 15px;
}
td p {
    max-width: 64px;
    margin-left: 15px;
}
.color_div {
    height:41px; 
    width:41px; 
    margin-left:25px;
}
td > ._icon {
    margin-left: 48px;
}
button {
    border: none;
    background: none;
}
._icon {
    cursor: pointer;
}
svg.save_icon:hover path{
    fill: #53CBF1;
}
svg.edit_icon:hover path{
    stroke: #53CBF1;
}
svg.close_icon:hover rect,
svg.delete_icon:hover path,
svg.delete_icon:hover rect {
    fill: #CA4C4C;

}

.nav-cotainer {
    display: flex;
    align-items: center;
    height: 146px;
    flex-direction: column;
    justify-content: space-between;
}
.nav-cotainer__title {
    margin-bottom: 27px;
}
.nav-cotainer__title h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
label {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-cotainer__options label:first-child:not(.option) {
    margin-bottom: 17px;
}
.nav-cotainer__options label:not(:first-child) {
    align-items: flex-start;
}
.nav-cotainer__options label p{
    margin-top: 10px;
    color: #A0A0A0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
.nav-cotainer__options label input {
    background: #424242;
    color: #bfbfbf;
    height: 40px;
    width:175px;
    padding-left: 15px;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
}

.nav-cotainer__options label input::placeholder {
    color: #bfbfbf;
}
.label__select-box {
    padding-left: 105px;
}

.select-box {
    display: flex;
    width: 175px;
    flex-direction: column;
}

.select-box .options-container {
    margin-top: -40px;
    background: #424242;
    color: #bfbfbf;
    max-height: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.45s;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
    overflow: hidden;
}

.selected {
    background: #424242;
    color: #bfbfbf;
    height: 40px;
    width:175px;
    padding-left: 15px;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.selected::after {
    content: "";
    background: url("./image/Dropdown_arrow_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 25px;
    top: 7px;
    right: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 162px;
    overflow-y: scroll;
    opacity: 1;
    z-index: 15;
}

.select-box .options-container::-webkit-scrollbar {
    width: 0px;
    background: #424242;
}

.option,
.selected {
    height: 40px;
    padding: 8px 12px;
    cursor: pointer;
}
label.option {
    margin-bottom: 0;
}

.select-box .option:hover {
    background: #505050;
}

.select-box label {
    cursor: pointer;
}
label.option {
    margin-bottom: 0;
}

.radio {
    display: none;
}
.colorpicker-snippet {
    display: flex;
    padding: 7px 5px;
    flex-direction: column;
    width: 255px;
    height: 380px;
    background: #3C3C3C;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin-bottom: 18px;
}
.color-preview {
    display: flex;
    height: 220px;
    box-sizing: border-box;
    margin-bottom: 7px;
}
  
#colorbox {
    position: relative;
    width: 215px;
    height: 220px;
    background-color: #00B9FF;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    border: 1px solid #5B5B5B;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg1 {
    height: 220px;
    width: 215px;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 4;
}

.bg2 {
    height: 220px;
    width: 215px;
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    z-index: 5;
}

.pointer, .slider {
    position: relative;
    z-index: 10;
}

.shape {
    position: absolute;
}

.s1 {
    margin-left: -9px;
    margin-top: -9px;
    width: 12px;
    height: 12px;
    border: 3px solid #3f3844;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.s2 {
    margin-left: -6px;
    margin-top: -6px;
    width: 6px;
    height: 6px;
    border: 3px solid white;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#colorslider {
    position: relative;
    width: 25px;
    height: 220px;
    border-radius: 2px;
    overflow: visible;
    float: left;
    padding: 0 5px;
}

.bg {
    width: 25px;
    height: 220px;
    background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    border-radius: 3px;
    z-index: 4;
    border: 1px solid #5B5B5B;
}

.s3 {
    width: 160%;
    margin-top: -6px;
    height: 3px;
    border: 3px solid #3f3844;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 6;
}

#data {
    width: 245px;
    height: 220px;
    float: right;
    overflow: hidden;   
    position: relative;
    
}

#current-color {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 4px;
    margin: -1px;
    position: absolute;
    top: 0;
    right: 0;

}

.colorField {
    width: 215px;
    font-size: 12px;
    float: left;
    margin-bottom: 8px;
}

.color {
    background: #3C3C3C;
    border: 1px solid #4F4F4F;
    height: 25px;
}
.colorLabel {
    width: 25px;
    text-align: center;
}

.colorInput {
    width: 55px;
    padding: 5px;
}
.color, .color_hex {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #bdbdbd;
    
}
.color_hex p {
    margin: 5px 10px;
}
.color_hex label.hex,
.color_hex label.hex_code {
    padding: 5px 0 5px 8px;
    border: 1px solid #5F5F5F;
    width: 68px;
    margin-right: 7px;
}
.color_hex label.hex_code {
    width: 90px;
    margin-right: 0px;
}
.colorField.rgb,
.colorField.hsl {
    display: flex;
}

:where(.colorField.rgb, .colorField.hsl)
.color {
    min-width: 69px;
    margin-right: 19px;
    padding: 0 10px;
}
:where(.colorField.rgb, .colorField.hsl)
.color.colorLabel {
    margin-right: 15px;
}
.colorText {
    width: 21px;
    left: 25%;
}

@media (max-width: 1160px) {
    .app {
        position: relative;
    }
    .colorpicker-comp {
        position: absolute;
        left: 179px;
    }
    .data-comp {
        opacity: 1;
        transition: all 0.4s;
    }
    .data-comp.active {
        opacity: 0.3;
        transition: all 0.4s;
    }  
}
@media (max-width: 800px) {
    .colorpicker-comp {
        left: calc((100% - 320px) / 2);
    }
    .data-comp__nav {
        margin-left: 30%;
    }
    .data-comp__title {
        margin-right: 20vw;
    }
}
@media (max-width: 750px) {
    .data-comp__nav {
        margin-left: 25%;
    }
    .data-comp__title {
        margin-right: 20vw;
    }
    .color_div {
        margin-left: 20px;
    }
}
@media (max-width: 612px) {
    .data-comp__title h2{
        font-size: 17px;
    }
    th {
        font-size: 17px;
    }
    td > ._icon {
        margin-left: 35px;
    }
    .color_div {
        margin-left: 14px;
    }

}
@media (max-width: 550px) {
    body {
        padding: 20px;
    }
}
@media (max-width: 425px) {
    body {
        padding: 0px;
    }
    th {
        font-size: 16px;
    }
}